@model IEnumerable<NewsPortal.Models.News>
@{
    ViewData["Title"] = "Technology News";
}

<div class="d-flex justify-content-end my-5">
    <form method="get">
        <div class="input-group bg-warning d-flex">
            <input name="search" placeholder="Search" class="" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>






@foreach (var item in Model) {

    <div class="card my-3">
        <div class="card-horizontal d-flex">
            <div class="img-square-wrapper">
                <img class="" src="~/News/img/@item.Image" alt="Card image cap" width="220" height="150">
            </div>
            <div class="card-body">
                @*<h4 class="card-title text-primary">@item.Name</h4>*@
                <a asp-action="NewsDetails" asp-route-id="@item.Id" class="h4 card-title text-primary">@item.Name</a>
            </div>
        </div>
    </div>
}




