
@inject SignInManager<IdentityUser> signInManager;

<!doctype html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="index.html" class="logo">News Portal</a></h1>
           

                            

            <ul class="list-unstyled components mb-5">
                <li class="ml-4">
                    <partial name="_LoginPartial" />
                </li>
                <hr / class="bg-white">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white"><span class="fa fa-home mr-3"></span>Back to Home</a>
                </li>
                <li>
                    <a asp-controller="Administration" asp-action="ListUsers" class="text-white"><span class="fa fa-user mr-3"></span>Users</a>
                </li>
                <li>
                    <a asp-controller="Administration" asp-action="CreateUser" class="text-white"><span class="fa fa-user mr-3"></span>Add User</a>
                </li>
                <li>
                    <a asp-controller="News" asp-action="Index" class="text-white"><span class="fa fa-sticky-note mr-3"></span>News</a>
                </li>
                <li>
                    <a asp-controller="News" asp-action="Create" class="text-white"><span class="fa fa-sticky-note mr-3"></span> Add News</a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index" class="text-white"><span class="fa fa-info mr-3"></span>Categories</a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Create" class="text-white"><span class="fa fa-info mr-3"></span>Add Category</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Administration" asp-action="ListRoles" class="text-white"><span class="fa fa-address-book mr-3"></span> Roles</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Administration" asp-action="CreateRole" class="text-white"><span class="fa fa-address-book mr-3"></span>Add Role</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    
    <script src="~/AdminJs/jquery.min.js"></script>
    <script src="~/AdminJs/popper.js"></script>
    <script src="~/AdminJs/bootstrap.min.js"></script>
    <script src="~/AdminJs/main.js"></script>
</body>
</html>